/* 
.chat-container {
  display: flex;
  height: 100vh;
}

.sidebar{
    color: #212529;
    height: auto;
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-list li {
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.user-list li:hover,
.user-list .selected {
  background-color: #e3f2fd;
}
*/

